.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0;
  padding: 3px 16px;
  font: inherit;
  font-size: $font__size;
  line-height: $font__lh;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: $color__brown;
}