.page {
  background-color: #EDEDED;
  color: #333333;
  font: 14px/21px "PT Sans", sans-serif;
  text-transform: uppercase;

  &__block {
    box-sizing: border-box;
    width: $page-width;
    margin: 0 auto;
  }
}